/* style.css */

.stApp {
    background-image: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url("https://raw.githubusercontent.com/aishiksarkar1-ui/finxhorizon-form/main/backgroung.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #333333; 
}
