/* style.css */

/* পুরো পেজের ব্যাকগ্রাউন্ড পরিবর্তন */
/* ব্যাকগ্রাউন্ডে ছবি সেট করার কোড */
.stApp {
    background-image: url("backgroung.jpg"); /* এখানে 'background.png'-এর জায়গায় আপনার আপলোড করা ছবির সঠিক নামটি লিখবেন */
    background-size: cover;          /* ছবিটি পুরো পেজে সুন্দরভাবে ছড়িয়ে যাবে */
    background-position: center;     /* ছবিটি মাঝ বরাবর সেট হবে */
    background-repeat: no-repeat;    /* ছবিটি বারবার পাশাপাশি রিপিট হবে না */
}

/* হেডলাইনের রঙ পরিবর্তন */
h1 {
    color: #AD9191; 
}
